.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.img{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline !important;
    width:150px;
    height: 200px;
}

.movie__container{
    margin: 0 auto;
}